<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div style="display: block" *ngIf='signalRService.data'>
    <canvas baseChart
            [datasets]="signalRService.data"
            [labels]='chartLabels'
            [options]="chartOptions"
            [legend]="chartLegend"
            [chartType]="chartType"
            [colors]="colors"
            (chartClick)='chartClicked($event)'>
    </canvas>
  </div>

  <br><br>
  <ul>
    <li *ngFor='let data of signalRService.bradcastedData'>
      <strong>Label: </strong> {{data.label}} - <strong>Value: </strong> {{data.data[0]}}
    </li>
  </ul>
</div>

<router-outlet></router-outlet>
